@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto;                /* Allow scrolling */
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}


.scrollable-hidden-scrollbar {
  /* overflow-y: scroll;            */
  -ms-overflow-style: none;     
  scrollbar-width: none;       
}

.scrollable-hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.marquee {
  animation: scroll 40s linear infinite;
  animation-direction: normal;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
.foot ul li:first-of-type{
  
}