@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  overflow-y: auto;                /* Allow scrolling */
  scrollbar-width: none;          /* Firefox */
  -ms-overflow-style: none;       /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}


.scrollable-hidden-scrollbar {
  /* overflow-y: scroll;            */
  -ms-overflow-style: none;     
  scrollbar-width: none;       
}

.scrollable-hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.marquee {
  animation: scroll 60s linear infinite;
  animation-direction: normal;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
.foot {
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.foot ul li{
  padding-bottom: 14px;
  text-transform: capitalize;
}
.foot ul li:first-of-type , .foot ul:first-of-type li:nth-child(4){
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.58);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 16px;
  padding-bottom: 0px;
}
.reset{
  animation: none;
  transition : all ease .3s;
  transform:translateX(0%);
  opacity: 0;
}